@import-normalize;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap");

:root {
  --font-family-main: "Nunito Sans", sans-serif;
  --fs-sm: 14px;
  --fs-md: 16px;
  --fw-light: 300;
  --fw-normal: 600;
  --fw-bold: 800;
}

body[data-theme="dark"] {
  --color-text: hsl(0, 0%, 100%);
  --color-bg: hsl(207, 26%, 17%);
  --color-elem: hsl(209, 23%, 22%);
}

body[data-theme="light"] {
  --color-text: hsl(200, 15%, 8%);
  --color-bg: hsl(0, 0%, 98%);
  --color-elem: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-main);
  font-weight: var(--fw-light);
  color: var(--color-text);
  background-color: var(--color-bg);
}
